.btn {
  position: relative;
  padding: 10px 15px;
  background-color: #7CC6fE;
  border: none;
  color: #FFF;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  transition: 1s;
  &.active[disabled], &[disabled] {
    background-color: #7CC6fE;
    opacity: .5;
    cursor: not-allowed;
    &:hover{
      background-color: #7CC6fE;
      cursor: not-allowed;
      transform: none;
    }
  }
  &:hover{
    background-color: #70B4E6;
    cursor: pointer;
    transform: scale(0.95);
  }
  &.active,
  &:focus{
  background-color: #01485f;
  border: 1px solid #5EB2F2;
  box-shadow: 0px 0 2px 0px #C0C0C0;
  }
}